# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

**/*.out

# Ignore ALL csv and json and png files in 4-latest-results/
4-latest-results/**/*.csv
4-latest-results/**/*.json
4-latest-results/**/*.png

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
